@model Identity.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";

}

<div class="container mx-auto h-50 w-50">
    <form asp-action="ChangePassword" method="post">

        <div class="form-outline mb-4">
            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
            <input asp-for="CurrentPassword" class="form-control" />
    </div>

        <div class="form-outline mb-4">
            <label asp-for="NewPassword" class="form-label">New Password</label>
            <input asp-for="NewPassword" class="form-control" />
        </div>


        <div class="form-outline mb-4">
            <label asp-for="PasswordConfirm" class="form-label">Password Password</label>
            <input asp-for="PasswordConfirm" class="form-control" />
        </div>

      

        <button type="submit" class="btn btn-primary btn-block mb-4">Change Password</button>

    </form>
</div>
